.input-text-container {
    display: block;
    margin: auto;
    padding: 10px;
}

.inputText {
    width: 90%;
    font-size: 20px;
}

.title {
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.error {
    display: block;
    color: red;
    margin-top: 20px;
}

.warning {
    display: block;
    color: yellow;
    margin-top: 20px;
}

.success {
    display: block;
    color: green;
    margin-top: 20px;
}